* {
	border: 1px solid #550f32;
}

body {
	background-color: #f8c010;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	color: #1c3c34;
}

header,
footer,
aside,
.bottom {
	max-height: 10vh;
	flex-grow: 1;
	margin: 8px;
}

aside {
	min-height: 20vh;
	display: flex;
	width: 100%;
	background-color: #f8c010;
	border: none;
	align-content: center;
}
.c {
	background-color: #603c73;
	color: white;
}

.d {
	background-color: #603c73;
	color: white;
}

.e {
	background-color: #603c73;
	color: white;
}

.bottom {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	flex-grow: 3;
	justify-content: space-between;
	border: none;
	margin: 8px;
}

main {
	width: 100%;
	flex-grow: 3;
	background-color: #c374fb;
}

aside > div {
	flex-grow: 8;
	margin: 5px;
}

header {
	background-color: #589aa4;
}
footer {
	background-color: #a2d0d6;
}

@media (min-width: 600px) {
	.container {
		flex-direction: row;
		flex-wrap: wrap;
	}
	header {
		width: 100%;
		max-height: 10vh;
	}
	.bottom {
		flex-basis: 70%;
		min-height: 80vh;
	}
	footer {
		margin: 8px;
		flex-grow: 3;
		min-height: 80vh;
	}
}
